h1{
    text-align: center;
    color:rgba(121, 31, 15, 0.842);
}
h2{
    color:rgb(21, 165, 64);
    text-align: left;
}
body{
    background-color: rgb(17, 17, 184);
    


    
}

     
    

.b{
    width: 4800px;
    height: 480px;
    padding:50px 50px;
}
.c{
    display:flex;
    background-color: rgb(233, 231, 231);
    flex-direction:column;
    justify-content: center;
    align-content: center;
    padding:0 25px;
    border:1px solid brown;
    

}

#x{
    border-bottom: 5px solid violet!important;
    
}
#x:last-child{
    border-bottom: none;

}
@media(min-width:986px){
.d{
    display:flex;
    background-color: rgb(231,231,231);
    flex-direction:row;
    justify-content: center;
    align-content: center;
    padding:0 25px;


}

}
